@model CigaretteViewModel

<div class="container py-5">
	<h1 class="text-center mb-5 text-light">Choose which cigarettes you smoke</h1>
	<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
		@foreach (var cigarette in Model.Cigarettes)
		{
			<div class="col">
				<div class="card h-100 text-light shadow-sm border-0 rounded-4 catalog-card" style="background-color: #2c2c2c;">

					<div class="card-img-top-wrapper d-flex justify-content-center align-items-center mt-3 px-3" style="height: 200px; overflow: hidden;">
						<img src="@Url.Action("GetImage", "Habbits", new { cigaretteId = cigarette.CigaretteId })"
							 alt="Error loading image!"
							 class="img-fluid"
							 style="max-height: 100%; object-fit: contain;" />
					</div>

					<div class="card-body text-center">
						<h5 class="card-title fw-bold mb-3">@cigarette.Brand @cigarette.Name</h5>
						<p class="card-text mb-1">Nicotine: <strong>@cigarette.NicotineAmount</strong></p>
						<p class="card-text mb-1">Tar: <strong>@cigarette.TarAmount</strong></p>
						<p class="card-text mb-3">Price: <strong>@cigarette.Price ₴</strong></p>

						<a asp-controller="Habbits"
						   asp-action="Calculate"
						   asp-route-id="@cigarette.CigaretteId"
						   class="btn btn-outline-light btn-sm px-4 mt-2 rounded-pill shadow-sm">Calculate</a>
					</div>
				</div>
			</div>
		}
	</div>
</div>